/* Colors  */
:root {
  --primary-color: #1e293b;
  --secondary-color: #d97706;
  --tertiary-color: #f1eadf;
  --neutral-color: #fcf9f5;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--primary-color);
}

p, li, a, span, figcaption {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--neutral-color);
}

header{
  display: grid;
  grid-template-columns: 48px auto;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem 1rem;
  border-bottom: 2px solid rgba(0, 46, 93, 0.2);
  position: relative;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.nav-menu {
  display: none;
}

.nav-menu.show {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--neutral-color);
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-menu a {
  display: block;
  padding: 1rem 2rem;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 46, 93, 0.2);
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-menu .current a {
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.hamburger {
  text-align: right;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.hamburger::before {
  content: "\2630";
  font-size: 2rem;
}

.hamburger.show::before {
  content: "\2715";
}

.home-title {
  color: var(--primary-color);
  font-weight: 700;
  margin: 2rem;
  border-bottom: 2px solid rgba(0, 46, 93, 0.2);
}


/* footer */

footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 2rem 1rem;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border-top: 2px solid rgba(0, 46, 93, 0.1);
}

footer .contact-info {
  text-align: left;
  font-size: 0.9rem;
}

footer p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

footer .social-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

footer .class-info{
  text-align: right;
  font-size: 0.8rem;
  /* color: var(--primary-color); */
  align-self: end;
}

footer .social-links a {
  width: 24px;
  height: 24px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

footer .social-links a:hover {
  transform: scale(1.2);
}

footer .social-links img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* directory */

section.directory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.view-buttons {
  display: flex;
  gap: 0rem;
  border-radius: 5px;
  padding: 0.3rem;
  background-color: var(--tertiary-color);
}

.view-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--tertiary-color);
  font-size: .8rem;
  color: var(--primary-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button.active {
  background-color: var(--secondary-color);
  color: var(--neutral-color);
  border-radius: 5px;
}

#directory-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
  margin: 2rem 0;
}

.directory-card {
  background-color: var(--tertiary-color);
  border: 1px solid rgba(0, 46, 93, 0.2);
  border-radius: 5px;
  padding: 1rem;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.directory-card img{
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.directory-card h2 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.directory-card p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}

.directory-card a {
  color: var(--secondary-color);
  font-size: 0.8rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.silver-member {
  border-left: 5px solid silver;
}

.gold-member {
  border-left: 5px solid var(--secondary-color);
}

.silver-member .membership-level {
  background-color: silver;
  color: var(--primary-color);
}


.gold-member .membership-level {
  background-color: var(--secondary-color); /* Tu color naranja/dorado */
  color: var(--neutral-color); /* Texto claro */
}

.membership-level {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  background-color: var(--secondary-color);
  color: var(--neutral-color);
  border-radius: 10px;
  position: absolute;
  top: 0rem;
  right: .5rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  margin-bottom: 1rem;
}